 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1">
                    <p><strong>California State Polytechnic University, Pomona</strong></p>
                    <p>Bachelor of Science, Concentration in Computer Science </p>
                    <p>August 2017 - May 2020 </p>
                </div>
                <div class="col-lg-4">
                    <img src="https://upload.wikimedia.org/wikipedia/en/2/29/Cal_Poly_Pomona_campus_1.JPG"  style="width:200px;height:150px;">
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <hr class="star-light">
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1">
                    <p><strong>Los Angeles Housing & Community Investment</strong></p>
                    <p>Software Developer Student Worker</p>
                    <p>November 2019 - March 2020</p>
                </div>
                <div class="col-lg-4">
                    <img src="https://pbs.twimg.com/profile_images/646732225812107264/q-jxdbcu.png" style="width:200px;height:150px;">
                </div>

            </div>
        </div>
    </section>
